/*#tarottable_container { }*/

.tarottable_cell{
    vertical-align: top;
}

/* Don't offset first card in a column. */
.tarottable_cell div:first-child {
    margin-top: 0;
}

.tarotsol_card {
    box-sizing: border-box;
    padding:10px;
    border:1px solid black;
    border-radius: 7px;
    display: inline-block;
    margin-top: -64px;
    width: 64px;
    min-height:96px;
    vertical-align:top; 
}

.tarotsol_cardback {
    background-color: lightblue;
}

.tarotsol_cardfront {
    background-color:white;
}

.tarotsol_emptystack {
    border:3px black dotted;
}