/*#tarottable_container { }*/

.tarottable_cell {
    vertical-align: top;
}

/* Don't offset first card in a column. */
.tarottable_cell div:first-child {
    margin: 0;
}

.tarotsol_card {
    box-sizing: border-box;
    padding:10px;
    border:1px solid black;
    border-radius: 7px;
    display: inline-block;
    width: 64px;
    min-height:96px;
    vertical-align:top; 
}

.tarotsol_card_v {
    margin-top: -64px;
}

.tarotsol_card_h {
    margin-left: -24px;
}

.tarotsol_cardback {
    background-color: lightblue;
}

.tarotsol_cardfront {
    background-color:white;
    z-index: 9  ;
}

.tarotsol_cardfront:hover {
    box-shadow: 0 0 10px 3px turquoise;
    z-index: 10;
}

.tarotsol_emptystack {
    border:3px black dotted;
}

.tarotsol_selected {
    box-shadow: 0 0 8px 2px turquoise;
    z-index: 10;
}